// Specific CSS for your home-page
body, html {
  height: 100%;
}

h1, p {
  font-family: 'Roboto', sans-serif;
}

.main-title {
  color: white;
}
.bg {
  background-image: asset-url("home_background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-home {
  background-color: rgba(0, 0, 0, 0.2);
  width: 550px;
}

.card-home-body {
  padding: 20px;
}
