// Import page-specific CSS files here.
@import "home";
<<<<<<< HEAD
@import "show_confinement";
@import "show_booking";
=======

@import "show_booking";
@import "show_confinement";
<<<<<<< HEAD
>>>>>>> 529410f5b6920d6a835c030e9721b999f73dc192
=======
@import "new_booking";
>>>>>>> a9928aeeeb4c8d6b04e229384cd39e52a9ff78d5

body{
 background-color: #E5E5E5;
}

h2{
  color: black;
  font-family: 'Roboto', sans-serif;
}

p {
  color: black;
  font-family: 'Roboto', sans-serif;
}

.buttons a{
  color: white;
}
