
.confinements-image-card {
  margin: 80px;
  height: 650px;
  background-size: cover !important;
  background-color: white;
  background-position: center;
  position: relative;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.confinement-title {
  margin: 25px;
}

.show-picture {
  width: 400px;
  margin-left: 50px;
  margin-bottom: 25px;
}

.description {
  text-align: center;
  width: 400px;
  margin-left: 50px;
}

.stars-container {
  display: flex;
  width: 300px;
  margin-left: 70px;
  margin-top: 80px;
}

.show-btn {
  margin-top: 10px;
  margin-left: 150px;
}

.stars {
  padding-left: 15px;
  text-align: right;
}

.fa-star {
  color: #F69730;
}
.text-center_user{
  color: black;
    text-align: center !important;
    padding-top: 60px;
}
