<h1>Confinements list</h1>
<div class="container">
  <div class="cards">
    <ul>
      <% @confinements.each do |confinement| %>
      <li>
        <%= confinement.name %>
          <%= link_to "Voir le confinement", confinement_path(confinement), class: 'card-link' %>
          </li>
      <% end %>
      </ul>
      <p><%= link_to "Créer un confinement", new_confinement_path, class: 'btn btn-primary' %></p>
  </div>
</div>


<%# if a user in logged in then they can add a confinement to the list%>

<%# create a user view to show the owner %>

