<div class="container">
  <h1>Confinements displonibles </h1>

  <div class="row d-flex">
    <% @confinements.each do |confinement| %>
    <div class="col-12 col-lg-4">
      <div class="card-confi my-3">
        <%= cl_image_tag confinement.photo.key, class: '' %>
        <div class="card-confi-infos">
        <div class="name"> <%= confinement.name %> </div>
        <div class="link"> <%= link_to "Ça se tente !", confinement_path(confinement) %> </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>


      <p><%= link_to "Créer un confinement", new_confinement_path, class: 'btn btn-primary' %></p>

</div>

