<div class="container">
  <br>
  <h2>Choisissez votre confinement !</h2>

  <hr>

  <div class="row d-flex">
    <% @confinements.each do |confinement| %>
    <div class="col-12 col-lg-4">
      <div class="card-confi my-3">
        <%= cl_image_tag confinement.photo.key, class: '' %>
        <div class="card-confi-infos">
        <div class="name"> <%= confinement.name %> </div>
        <div class="link"> <%= link_to "Ça se tente !", confinement_path(confinement) %> </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>


     <div class="btn btn-primary buttons"> <%= link_to "Créer un confinement", new_confinement_path %> </div>

</div>


<%# if a user in logged in then they can add a confinement to the list%>

<%# create a user view to show the owner %>

