<div class ="recap">
  <h2 class="mt-3">Récapitulatif de votre confinement choisi:</h2>
</div>

<div class ="name-div">
<h2 class="hidden-text-center"><%= @confinement.name %></h2>
</div>
<div class="container-hidden-cards">


  <div class= "draw_cards">
    <h5 class="text-center" style="position: absolute;" >
      Chaque confinement réserve son lot de surprises, piochez 2 jokers pour vous confiner :</h5>
  </div>

<div class="container_hidden_photo">
  <div>
    <%= cl_image_tag @confinement.photo.key, height: 300, width: 400, crop: :fill %>
  </div>

</div>

<div class="hidden_card">
    <div class="hidden_card__inner">
      <div class="hidden_card__face hidden_card__face--front">
        <h2>?</h2>
      </div>
    </div>
  </div>

  <div class="hidden_card">
    <div class="hidden_card__inner">
      <div class="hidden_card__face hidden_card__face--front">
        <h2>?</h2>
      </div>
    </div>
  </div>

  <div class="hidden_card">
    <div class="hidden_card__inner">
      <div class="hidden_card__face hidden_card__face--front">
        <h2>?</h2>
      </div>
    </div>
  </div>


  <div class= "btn-container">
    <div class = "reserve-container">
      <%= link_to "Je me confine!", confinement_bookings_path(@confinement), method: :post, class: "btn btn-primary-buttons disabled", id: "btn-reserve" %>
    </div>

    <div class = "back-container">
      <%= link_to "Retour aux confinements", root_path, class: "btn btn-primary buttons"%>
    </div>
  </div>
</div>



<script>
function initCards() {


  const card = document.querySelectorAll(".hidden_card");
  const reserve = document.querySelector("#btn-reserve");
  const active = document.querySelectorAll('hidden_card border-zach');

  let numbers = 0

  console.log(active.length);

  card.forEach((element) => {
    element.addEventListener("click", function (e) {
    element.classList.toggle('border-zach');
    if (element.classList.contains('border-zach')){
      numbers += 1;
    }else{
      numbers -= 1;
    };
      if(numbers != 2){
      reserve.classList.add('disabled');
      }else{
      reserve.classList.remove('disabled');
    };
    });
  });
};
initCards();
</script>


