<div class="class">

<ul>
  <li> <%= @booking.confinement.name %> </li>
  <li> <%= @booking.confinement.description %> </li>
  <li> <%= @booking.user.name %> </li>
</ul>



<%= button :submit, class: "btn btn-primary" %>

</div>
