<!-- <div class="container">

 <ul>
   <li> <%= @booking.confinement %> </li>
  <li> <%= @booking.confinement.description %> </li>
  <li> <%= @booking.description %>
    <h3> Résultat BONUS ou MALUS </h3>
  </li>

 </ul>






</div> -->
