<div class="bg">
  <p class="py-5 text-center"></p>
    <div class= "container">
      <div class="card-home">
        <div class="card-home-body">
          <h1 class="main-title">Mon Confinement Surprise !</h1>
          <p>Choisissez un confinement idéal... ou pas.</p>
          <p><%= link_to "Je tente ma chance !", confinements_path, class: "btn btn-primary" %></p>
        </div>
      </div>
    </div>
</div>
