<div class= "container">
  <div class="card-home">
    <div class="card-home-body">
      <h1>Mon Confinement Surprise !</h1>
      <p>Choisissez une option de confinement idéal... ou pas.</p>
      <p><%= link_to "Je tente ma chance !", confinements_path, class: "btn btn-primary" %><p>
    </div>
  </div>
</div>
