.form-inputs{
    width: 80%;
    max-width: 600px;
    margin: 0px auto 30px auto;
    background-color: white;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
    padding: 20px;
    border-radius: 15px;
}
.simple_form {
  padding-top: 7px;;
}

.btn{
  background-color: #F69730;
  border-color:#F69730;
}

.btn:hover{
  background: #e17a0a;
  border-color:#F69730;
}
.form-actions{
   position: fixed;
   margin-left: 65%;
}
.title{
   padding-top: 20px;
   margin-left: 45%;
   font-size: 55px;
}

.container-links{
  margin-left: 30%;
}

#link_retour {
}

#link_retour a{
  font-size: 22px;
  color: #F69730;
  background-color: white;
  border-radius: 5px;
  text-decoration: none;
  padding: 8px 16px;
  margin-bottom: 20px;
}

#link_retour a:hover{
  color: grey;
}

.link-center {
  text-align: center;
  margin-bottom: 20px;
}
