.rectangle{
  position: absolute;
  width: 79.51px;
  height: 114.85px;
  left: 744px;
  top: 417px;

  background: #C4C4C4;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.rectangle2{
  position: absolute;
  width: 80px;
  height: 115px;
  left: 889px;
  top: 417px;

  background: #C4C4C4;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
